.social-auth-buttons {
    display: flex;
    justify-content: center;
    gap: 10px; /* Adjust spacing between buttons */
  }
  
  .social-auth-buttons .social-auth.auth-link {
    /* Add custom button styles here */
  }
  
  .social-auth-buttons .social-auth.auth-icon {
    /* Add custom icon styles here */
    max-width: 50px; /* Example of setting max width */
  }
  